.MovieLibrary {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.MovieLibraryWrap {
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ML-logo {
  animation: ML-logo-spin infinite 8s ease;
  height: 80px;
}

.ML-header {
  background-color: #222;
  height: 150px;
  padding: 20px 32px;
  color: white;
}

.ML-title {
  font-size: 1.5em;
}

.ML-intro {
  font-size: large;
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
}

@keyframes ML-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}
